@tailwind base;

@tailwind components;

@tailwind utilities;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --gold-color: #9e8656;
}

body {
    font-family: 'Montserrat', sans-serif;
}

a:hover {
    text-decoration: underline;
}

.gold,
.school,
.work__position > span {
    color: var(--gold-color);
}

.border-gold {
    border-bottom: 2px solid var(--gold-color);
}

.title__before,
.title__after {
    border-top: 1px solid var(--gold-color);
}

.knowledge {
    flex: 0 0 30%;
}

.knowledge__skills ul li {
    padding: 0.2em 0.75em;
    background-color: #efefef;
    border-radius: 150px; 
    margin-top: .75em;
}

.knowledge__skills ul li:not(:last-of-type) {
    margin-right: 0.5em;
}

/* blockquote {
    position: relative; 
}

blockquote:before,
blockquote:after {
	position: absolute;
	color: #f1efe6;
	font-size: 8rem;
	width: 4rem;
	height: 4rem;
}

blockquote:before {
	content: '“';
	left: -3rem;
	top: -3rem;
}

blockquote:after {
	content: '”';
	right: -3rem;
	bottom: 2rem;
} */

.reference:not(:last-of-type) {
    border-bottom: 1px dashed var(--gold-color);
}