@tailwind base;

@tailwind components;

@tailwind utilities;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --gold-color: #9e8656;
}

a {
    color: #2D3748;
    font-weight: 600;
}

a:hover {
    text-decoration: underline;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.gold,
.school,
.work__position > span {
    color: var(--gold-color);
}

.title__before,
.title__after {
    border-top: 1px solid var(--gold-color);
}

.knowledge {
    flex: 0 0 30%;
}

.knowledge__skills ul li {
    padding: 0.2em 0.75em;
    background-color: #efefef;
    border-radius: 150px; 
    margin-top: .75em;
}

.knowledge__skills ul li:not(:last-of-type) {
    margin-right: 0.5em;
}

@media only screen and (max-width: 81.25em) { 
    
}

@media only screen and (max-width: 68.75em) { 

}

@media only screen and (max-width: 56.25em) { 
    
}

@media only screen and (max-width: 37.5em) { 
    
}

@media only screen and (max-width: 31.25em) { 
    
}