@tailwind base;

@tailwind components;

@tailwind utilities;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --gold-color: #9e8656;
}

svg {
    max-width: 2em;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.gold {
    color: var(--gold-color);
}

@media only screen and (max-width: 81.25em) { 
    
}

@media only screen and (max-width: 68.75em) { 

}

@media only screen and (max-width: 56.25em) { 
    
}

@media only screen and (max-width: 37.5em) { 
    
}

@media only screen and (max-width: 31.25em) { 
    
}